@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    outline: none;
  }
  .marquee-content {
    display: flex;
    animation: scrolling 10s linear infinite;
  }
  .marquee-element {
    flex: 0 0 16vw;
    margin: 0 1vw;
  }
  .marquee-element img {
    display: block;
    width: 8rem;
  }
  @keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translatex(-144vw);
    }
  }
  .line-limit {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}
