@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    outline: none;
  }
  .marquee-content {
    display: flex;
    animation: scrolling 10s linear infinite;
  }
  .marquee-element {
    flex: 0 0 16vw;
    margin: 0 1vw;
  }
  .marquee-element img {
    display: block;
    width: 8rem;
  }
  @keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translatex(-144vw);
    }
  }
  .line-limit {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .Contact > .thumbnail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    background: no-repeat center center/cover;
    background-image: linear-gradient(
        -45deg,
        rgb(0, 0, 0, 0.6),
        rgb(0, 0, 0, 0.6)
      ),
      url("https://www.infodal.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Finstructor.2fe86e91.png&w=1920&q=75");
  }
  .Contact form input {
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0, 0.6);
    background: transparent;
    color: rgb(0, 0, 0, 0.6);
    font-size: 0.8rem;
    padding: 0.5rem 0;
  }
  .Contact form input:focus {
    border-bottom: 2px solid #00b4d8;
  }
  .Contact form input:focus + label {
    color: #00b4d8;
    transform: translateY(-0.8rem);
    font-size: 0.8rem;
  }
  .dropdown-button:hover > .dropdown {
    display: flex;
    flex-direction: column;
  }
  .dropdown li {
    margin-block: 1.5rem;
    text-align: left;
  }
  .Footer a {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  .Footer a:hover {
    text-decoration: underline;
  }
}
